.jumbotron {
    background: url('/img/jumbotron-background.jpg') repeat scroll 0% 0% / 100% auto transparent;
    color: antiquewhite;
}

#newInvitation {
    display: none;
}

#game {
    display: none;
}

#invitationUsers .ui-selecting {
    background: #FECA40;
}

#invitationUsers .ui-selected {
    background: #F39814;
    color: white;
}

#invitationUsers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#invitationUsers > li {
    margin: 3px;
    padding: 1px;
    padding-top: 1.0em;
    float: left;
    width: 94px;
    height: 120px;
    font-size: 0.8em;
    text-align: center;
}

#invitationUsers > li > img {
    width:80%
}

label { display: block; }
select { width: 200px; }


.invitationAccept {
    padding: 1em;
    color: #3A3;
}

