.jumbotron {
    background: url('/img/jumbotron-background.jpg') repeat scroll 0% 0% / 100% auto transparent;
    color: antiquewhite;
}

#newInvitation {
    display: none;
}

#game {
    display: none;
}














